# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.deps.json
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.dll
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.exe
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.pdb
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.runtimeconfig.dev.json
/CardsAssessment/obj/CardsAssessment.csproj.nuget.g.targets
/CardsAssessment/obj/CardsAssessment.csproj.nuget.g.props
/CardsAssessment/obj/CardsAssessment.csproj.nuget.dgspec.json
/CardsAssessment/bin/Debug/netcoreapp3.1/CardsAssessment.runtimeconfig.json
/CardsAssessment/obj/project.nuget.cache
/CardsAssessment/obj/project.assets.json
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.pdb
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.genruntimeconfig.cache
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.dll
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.csprojAssemblyReference.cache
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.csproj.FileListAbsolute.txt
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.csproj.CoreCompileInputs.cache
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.assets.cache
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.AssemblyInfoInputs.cache
/CardsAssessment/obj/Debug/netcoreapp3.1/apphost.exe
/CardsAssessment/obj/Debug/netcoreapp3.1/CardsAssessment.AssemblyInfo.cs
/CardsAssessment/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.vs/CardsAssessment/DesignTimeBuild/.dtbcache.v2
